<!--
<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="${title}"/>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha2/css/bootstrap.min.css">
</head>
<body>
<div th:insert="blocks/header :: header"></div>
<div class="container-fluid">
    <div class="row">
        <nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse">
            <nav th:insert="blocks/menu :: menu"></nav>
        </nav>

        <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4 mt-5 mb-5">
            <h1>Добавление статьи</h1>
            <form method="post" action="/blog/add">
                <input type="text" name="title" placeholder="Введите название статьи" class="form-control"><br>
                <input type="text" name="anons" placeholder="Введите анонс статьи" class="form-control"><br>
                <textarea type="text" name="full_text" placeholder="Введите текст статьи" class="form-control"></textarea><br>
                <button type="submit" class="btn btn-success">Добавить статью</button>
            </form>

        </main>
    </div>
</div>
</body>
</html>
-->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="${title}"/>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha2/css/bootstrap.min.css">
    <script src="https://cdn.tiny.cloud/1/hqjui8xfno72p6brq6uoox2idxw4icq8ae3sl1lmvrqp53vp/tinymce/5/tinymce.min.js" referrerpolicy="origin"></script>
</head>
<body>
    <div th:insert="blocks/header :: header"></div>
    <div class="container-fluid">
        <div class="row">
            <nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse">
                <nav th:insert="blocks/menu :: menu"></nav>
            </nav>
            <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4 mt-5 mb-5">
                <form id="addForm" th:object="${blogPost}" method="POST">
                    <div class="row">
                        <div class="col-md-9">
                            <input type="text" name="title" th:field="*{title}" placeholder="Введите название статьи" class="form-control"><br>
                            <input type="text" name="anons" th:field="*{anons}" placeholder="Введите анонс статьи" class="form-control"><br>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-9" th:insert="blocks/tinymce :: tinymce"></div>
                    </div>
                    <div class="row">
                        <div class="col-md-9">
                            <textarea th:field="*{body}" style="width:100%; height:600px"></textarea><br>
                            <button type="submit" class="btn btn-success">Добавить статью</button>
                        </div>
                    </div>
                </form>
            </main>
        </div>
    </div>
</body>
</html>